<nav class="navbar navbar-default">
    <div class="topnav">
        <a class="navbar-brand" href="./members">
            Home
        </a>
        <a class="navbar-brand" href="./contactUs">
            Contact
        </a>
        <a class="navbar-brand" href="./restaurantReview">
            Reviews
        </a>
        <a class="navbar-brand" href="./login-signup">
            Logout
        </a>
    </div>
</nav>
<div class="container">
    <h2 class="welcome"> Welcome to Epicure <br> <span class="member-name"></span></h2>
</div>
<br>

<div class="container">
    <div>

        <button type="button" class="btn btn-primary" id="get-location">Get Current Location</button>
        <div class="row">
            <div class="col-3">
                <div id="cuisineList">
                    <ul class="cuisineType"></ul>

                </div>
            </div>
            <div class="col-9">
                <div class="restaurantInfo">

                </div>
            </div>
        </div>


    </div>

</div>