<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<nav class="navbar navbar-default">
    <div class="topnav">
        <a class="navbar-brand" href="./members">
            Home
        </a>
        <a class="navbar-brand" href="./contactUs">
            Contact
        </a>
        <a class="navbar-brand" href="./restaurantReview">
            Reviews
        </a>
        <a class="navbar-brand" href="./login-signup">
            Logout
        </a>
    </div>
</nav>
<body class="memberPage">
<div class="container">
<<<<<<< HEAD
    <h2> Welcome <span class="member-name"></span></h2>
=======
    <h2 class="welcome"> Welcome to Epicure <br> <span class="member-name"></span></h2>
>>>>>>> master
</div>
<br>

<div class="container">
    <div>

        <button type="button" class="btn btn-primary" id="get-location">Get Current Location</button>
        <div data-aos="fade-up" class="row">
            <div class="col-3">
                <div id="cuisineList">
                    <ul class="cuisineType"></ul>

                </div>
            </div>
            <div class="col-9">
                <div class="restaurantInfo">

                </div>
            </div>
        </div>


    </div>

</div>
   {{!-- <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
//    <script>
//  AOS.init();
//</script> --}}
</body>