<nav class="navbar navbar-default">
  <div class="topnav">
    <a class="navbar-brand" href="./members">
      Home
    </a>
    <a class="navbar-brand" href="./contactUs">
      Contact Us
    </a>
    <a class="navbar-brand" href="./restaurantReview">
      Reviews
    </a>
    <a class="navbar-brand" href="./tipcalculator">
      Tip Calculator
    </a>
    <a class="navbar-brand" href="./login-signup">
      Logout
    </a>
  </div>
</nav>
<h1 style="text-align: center;">Reviews</h1>