<nav class="navbar navbar-default">
  <div class="topnav">
    <a class="navbar-brand" href="./members">
      Home
    </a>
    <a class="navbar-brand" href="./contactUs">
      Contact
    </a>
    <a class="navbar-brand" href="./restaurantReview">
      Reviews
    </a>
    <a class="navbar-brand" href="./login-signup">
      Logout
    </a>
  </div>
</nav>

<div class="card" style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title restaurantReviewName">Twisted Root Burger Company</h5>
    <p class="card-text">A non beef eater walks into a burger spot and magic still happens. I didn't necessarily stumble
      across the place because I checked out the menu beforehand to make sure I'd find something. This place is truly
      for all burger-lovers no matter your favorite type. For adventurous eaters, there are also eclectic options,
      contingent on the day: Venison, Elk, Lamb, Ostrich, Rabbit, Camel, Duck and Boar. I believe Wagyu and Buffalo are
      available daily.

      The setup is easy, you walk in place your order and are given a placard with a famous, or infamous, celebrity name
      that will be called once your order is ready. Let's just say before I knew what was happening, I didn't know why
      Ron Burgundy's name was called.

      They don't have over 1,000 reviews for nothin'. I had one of if not the BEST Turkey Burgers I've ever had. I opted
      to make my own and added blue cheese and thyme caramelized onions on a white roll with an order of hand cut fries.
      The won extra points by having a pickle bar with 5 pickle flavors. They also didn't stop at
      ketchup and mustard. There are 5 sauce options on each table if y'all are need to add more to the already amazing
      burger.

      To make matters worse, or better, depending on your lens...they walked around offering samples of their homemade
      custard shakes. DE-LISH! I'm so glad I don't live close enough to make this a habit!
    </p>
  </div>
</div>
<br>
<div class="card" style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title restaurantReviewName">China Town Restaurant</h5>
    <p class="card-text">
      We've eaten in before I had Yelp and before COVID, but it had been awhile so I wasn't able to review. This time we
      ordered delivery and it arrived earlier than expected and it was hot and yummy! Cheap, too! I spent less than $30
      on 4 of us and so much food and better quality than going through a drive thru.
    </p>
  </div>
</div>
<br>
<div class="card" style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title restaurantReviewName">Texas Roadhouse</h5>
    <p class="card-text">
      *COVID happy hour review
      We went here for happy hour - actually, just during happy hour, because they didn't have a happy hour menu. They
      have a table out front for check-in, but that wasn't really obvious. Anyway, we were directed over there by
      someone inside. It was Thursday at 5, and we were seated right away in the back. Seating on the patio in the back
      is sheltered and covered. We were given the paper menus, but had to ask for cocktail menus.
      Lena was very friendly and attentive. She brought our bread (so good!), made suggestions, was not pushy, and came
      by to check on us just the right amount.
      First, drinks. Husband got the Sam Adams in a bottle - he would have preferred a good beer on tap, but wasn't
      thrilled with the selection. I got the Hurricane Margarita. Nice big glass, a shot of 1800, and it wasn't all ice.
      Plus, it was very tasty, and less than $10.
      We ordered starter ribs, Rattlesnake Bites, and a cup of chili, all to share. The ribs were perfect, and they come
      with fries, so there is plenty of food. The Bites were tasty, but not spicy at all. The chili was average - not
      bad, but not exceptional.
      All in all, it was a solid 4-star.
    </p>
  </div>
</div>


<script src=' https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'>
</script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="js/overview.js"></script>